.hero-section__img {
    text-align: right;
    background-image: url("../img/imagen1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 602px;
    width: 50%;
}

.hero-section__container {
    width: 50%;
}
.hero-section__content {
    h1{
        text-transform: uppercase;
    }
    padding: 10px 100px;
}

.hero-section__newsletter{
    text-transform: capitalize;
    width: 60%;
    height: 211px;
    background-color: $smoky-black ;
    color: $white;
    padding: 10px 100px;
    input{
        padding: 0.5rem 4rem 0.5rem 0.5rem;
    }
    p{
        font-weight: $regular;
    }
}
